# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
venv/
apps/account/__pycache__/
apps/account/migrations/__pycache__/
apps/cate/__pycache__/
apps/cate/migrations/__pycache__/
apps/detail/__pycache__/
apps/detail/migrations/__pycache__/
apps/main/__pycache__/
apps/main/migrations/__pycache__/
apps/main/static/img/
apps/search/__pycache__/
apps/search/migrations/__pycache__/
shopping91/__pycache__/
static/img/category/
static/img/detail/10149.jpg
static/img/detail/10150.jpg
static/img/detail/10151.jpg
static/img/detail/10152.jpg
static/img/detail/10153.jpg
static/img/detail/10154.jpg
static/img/detail/10160.jpg
static/img/detail/10161.jpg
static/img/detail/10162.jpg
static/img/detail/10163.jpg
static/img/detail/10164.jpg
static/img/detail/10165.jpg
static/img/detail/10171.jpg
static/img/detail/10172.jpg
static/img/detail/10173.jpg
static/img/detail/10174.jpg
static/img/detail/10175.jpg
static/img/detail/10176.jpg
static/img/detail/10182.jpg
static/img/detail/10183.jpg
static/img/detail/10184.jpg
static/img/detail/10185.jpg
static/img/detail/10186.jpg
static/img/detail/10187.jpg
static/img/detail/10193.jpg
static/img/detail/10194.jpg
static/img/detail/10195.jpg
static/img/detail/10196.jpg
static/img/detail/10197.jpg
static/img/detail/10198.jpg
static/img/detail/2587.jpg
static/img/detail/3139.jpg
static/img/detail/3140.jpg
static/img/detail/3141.jpg
static/img/detail/3142.jpg
static/img/detail/3143.jpg
static/img/detail/3144.jpg
static/img/detail/3150.jpg
static/img/detail/3151.jpg
static/img/detail/3152.jpg
static/img/detail/3153.jpg
static/img/detail/3154.jpg
static/img/detail/3155.jpg
static/img/detail/3161.jpg
static/img/detail/3162.jpg
static/img/detail/3163.jpg
static/img/detail/3164.jpg
static/img/detail/3165.jpg
static/img/detail/3166.jpg
static/img/detail/3172.jpg
static/img/detail/3173.jpg
static/img/detail/3174.jpg
static/img/detail/3175.jpg
static/img/detail/3176.jpg
static/img/detail/3177.jpg
static/img/detail/3183.jpg
static/img/detail/3184.jpg
static/img/detail/3185.jpg
static/img/detail/3186.jpg
static/img/detail/3187.jpg
static/img/detail/3188.jpg
static/img/detail/3753.jpg
static/img/detail/3754.jpg
static/img/detail/3755.jpg
static/img/detail/3756.jpg
static/img/detail/3757.jpg
static/img/detail/3758.jpg
static/img/detail/3764.jpg
static/img/detail/3765.jpg
static/img/detail/3766.jpg
static/img/detail/3767.jpg
static/img/detail/3768.jpg
static/img/detail/3769.jpg
static/img/detail/3775.jpg
static/img/detail/3776.jpg
static/img/detail/3777.jpg
static/img/detail/3778.jpg
static/img/detail/3779.jpg
static/img/detail/3780.jpg
static/img/detail/3786.jpg
static/img/detail/3787.jpg
static/img/detail/3788.jpg
static/img/detail/3789.jpg
static/img/detail/3790.jpg
static/img/detail/3791.jpg
static/img/detail/3797.jpg
static/img/detail/3798.jpg
static/img/detail/3799.jpg
Would remov
e static/img/detail/3800.jpg
static/img/detail/3801.jpg
static/img/detail/3802.jpg
static/img/detail/4359.jpg
static/img/detail/4360.jpg
static/img/detail/4361.jpg
static/img/detail/4362.jpg
static/img/detail/4363.jpg
static/img/detail/4364.jpg
static/img/detail/4370.jpg
static/img/detail/4371.jpg
static/img/detail/4372.jpg
static/img/detail/4373.jpg
static/img/detail/4374.jpg
static/img/detail/4375.jpg
static/img/detail/4381.jpg
static/img/detail/4382.jpg
static/img/detail/4383.jpg
static/img/detail/4384.jpg
static/img/detail/4385.jpg
static/img/detail/4386.jpg
static/img/detail/4391.jpg
static/img/detail/4392.jpg
static/img/detail/4393.jpg
static/img/detail/4394.jpg
static/img/detail/4395.jpg
static/img/detail/4396.jpg
static/img/detail/4402.jpg
static/img/detail/4403.jpg
static/img/detail/4404.jpg
static/img/detail/4405.jpg
static/img/detail/4406.jpg
static/img/detail/4407.jpg
static/img/detail/4577.jpg
static/img/detail/4578.jpg
static/img/detail/4579.jpg
static/img/detail/4580.jpg
static/img/detail/4581.jpg
static/img/detail/4582.jpg
static/img/detail/4588.jpg
static/img/detail/4589.jpg
static/img/detail/4590.jpg
static/img/detail/4591.jpg
static/img/detail/4592.jpg
static/img/detail/4593.jpg
static/img/detail/4599.jpg
static/img/detail/4600.jpg
static/img/detail/4601.jpg
static/img/detail/4602.jpg
static/img/detail/4603.jpg
static/img/detail/4604.jpg
static/img/detail/4609.jpg
static/img/detail/4610.jpg
static/img/detail/4611.jpg
static/img/detail/4612.jpg
static/img/detail/4613.jpg
static/img/detail/4614.jpg
static/img/detail/4620.jpg
static/img/detail/4621.jpg
static/img/detail/4622.jpg
static/img/detail/4623.jpg
static/img/detail/4624.jpg
static/img/detail/4625.jpg
static/img/detail/5212.jpg
static/img/detail/5213.jpg
static/img/detail/5214.jpg
static/img/detail/5215.jpg
static/img/detail/5216.jpg
static/img/detail/5217.jpg
static/img/detail/5223.jpg
static/img/detail/5224.jpg
static/img/detail/5225.jpg
static/img/detail/5226.jpg
static/img/detail/5227.jpg
static/img/detail/5228.jpg
static/img/detail/5234.jpg
static/img/detail/5235.jpg
static/img/detail/5236.jpg
static/img/detail/5237.jpg
static/img/detail/5238.jpg
static/img/detail/5239.jpg
static/img/detail/5245.jpg
static/img/detail/5246.jpg
static/img/detail/5247.jpg
static/img/detail/5248.jpg
static/img/detail/5249.jpg
static/img/detail/5250.jpg
static/img/detail/5256.jpg
static/img/detail/5257.jpg
static/img/detail/5258.jpg
static/img/detail/5259.jpg
static/img/detail/5260.jpg
static/img/detail/5261.jpg
static/img/detail/5828.jpg
static/img/detail/5829.jpg
static/img/detail/5830.jpg
static/img/detail/5831.jpg
static/img/detail/5832.jpg
static/img/detail/5833.jpg
static/img/detail/5839.jpg
static/img/detail/5840.jpg
static/img/detail/5841.jpg
static/img/det
ail/5842.jpg
static/img/detail/5843.jpg
static/img/detail/5844.jpg
static/img/detail/5849.jpg
static/img/detail/5850.jpg
static/img/detail/5851.jpg
static/img/detail/5852.jpg
static/img/detail/5853.jpg
static/img/detail/5854.jpg
static/img/detail/5860.jpg
static/img/detail/5861.jpg
static/img/detail/5862.jpg
static/img/detail/5863.jpg
static/img/detail/5864.jpg
static/img/detail/5865.jpg
static/img/detail/5871.jpg
static/img/detail/5872.jpg
static/img/detail/5873.jpg
static/img/detail/5874.jpg
static/img/detail/5875.jpg
static/img/detail/5876.jpg
static/img/detail/6432.jpg
static/img/detail/6433.jpg
static/img/detail/6434.jpg
static/img/detail/6435.jpg
static/img/detail/6436.jpg
static/img/detail/6437.jpg
static/img/detail/6443.jpg
static/img/detail/6444.jpg
static/img/detail/6445.jpg
static/img/detail/6446.jpg
static/img/detail/6447.jpg
static/img/detail/6448.jpg
static/img/detail/6454.jpg
static/img/detail/6455.jpg
static/img/detail/6456.jpg
static/img/detail/6457.jpg
static/img/detail/6458.jpg
static/img/detail/6459.jpg
static/img/detail/6465.jpg
static/img/detail/6466.jpg
static/img/detail/6467.jpg
static/img/detail/6468.jpg
static/img/detail/6469.jpg
static/img/detail/6470.jpg
static/img/detail/6476.jpg
static/img/detail/6477.jpg
static/img/detail/6478.jpg
static/img/detail/6479.jpg
static/img/detail/6480.jpg
static/img/detail/6481.jpg
static/img/detail/7015.jpg
static/img/detail/7016.jpg
static/img/detail/7017.jpg
static/img/detail/7018.jpg
static/img/detail/7019.jpg
static/img/detail/7020.jpg
static/img/detail/7026.jpg
static/img/detail/7027.jpg
static/img/detail/7028.jpg
static/img/detail/7029.jpg
static/img/detail/7030.jpg
static/img/detail/7031.jpg
static/img/detail/7037.jpg
static/img/detail/7038.jpg
static/img/detail/7039.jpg
static/img/detail/7040.jpg
static/img/detail/7041.jpg
static/img/detail/7042.jpg
static/img/detail/7048.jpg
static/img/detail/7049.jpg
static/img/detail/7050.jpg
static/img/detail/7051.jpg
static/img/detail/7052.jpg
static/img/detail/7053.jpg
static/img/detail/7059.jpg
static/img/detail/7060.jpg
static/img/detail/7061.jpg
static/img/detail/7062.jpg
static/img/detail/7063.jpg
static/img/detail/7064.jpg
static/img/detail/7631.jpg
static/img/detail/7632.jpg
static/img/detail/7633.jpg
static/img/detail/7634.jpg
static/img/detail/7635.jpg
static/img/detail/7636.jpg
static/img/detail/7642.jpg
static/img/detail/7643.jpg
static/img/detail/7644.jpg
static/img/detail/7645.jpg
static/img/detail/7646.jpg
static/img/detail/7647.jpg
static/img/detail/7653.jpg
static/img/detail/7654.jpg
static/img/detail/7655.jpg
static/img/detail/7656.jpg
static/img/detail/7657.jpg
static/img/detail/7658.jpg
static/img/detail/7664.jpg
static/img/detail/7665.jpg
static/img/detail/7666.jpg
static/img/detail/7667.jpg
Wou
ld remove static/img/detail/7668.jpg
static/img/detail/7669.jpg
static/img/detail/7675.jpg
static/img/detail/7676.jpg
static/img/detail/7677.jpg
static/img/detail/7678.jpg
static/img/detail/7679.jpg
static/img/detail/7680.jpg
static/img/detail/8236.jpg
static/img/detail/8237.jpg
static/img/detail/8238.jpg
static/img/detail/8239.jpg
static/img/detail/8240.jpg
static/img/detail/8241.jpg
static/img/detail/8247.jpg
static/img/detail/8248.jpg
static/img/detail/8249.jpg
static/img/detail/8250.jpg
static/img/detail/8251.jpg
static/img/detail/8252.jpg
static/img/detail/8258.jpg
static/img/detail/8259.jpg
static/img/detail/8260.jpg
static/img/detail/8261.jpg
static/img/detail/8262.jpg
static/img/detail/8263.jpg
static/img/detail/8269.jpg
static/img/detail/8270.jpg
static/img/detail/8271.jpg
static/img/detail/8272.jpg
static/img/detail/8273.jpg
static/img/detail/8274.jpg
static/img/detail/8280.jpg
static/img/detail/8281.jpg
static/img/detail/8282.jpg
static/img/detail/8283.jpg
static/img/detail/8284.jpg
static/img/detail/8285.jpg
static/img/detail/8896.jpg
static/img/detail/8897.jpg
static/img/detail/8898.jpg
static/img/detail/8899.jpg
static/img/detail/8900.jpg
static/img/detail/8901.jpg
static/img/detail/8907.jpg
static/img/detail/8908.jpg
static/img/detail/8909.jpg
static/img/detail/8910.jpg
static/img/detail/8911.jpg
static/img/detail/8912.jpg
static/img/detail/8918.jpg
static/img/detail/8919.jpg
static/img/detail/8920.jpg
static/img/detail/8921.jpg
static/img/detail/8922.jpg
static/img/detail/8923.jpg
static/img/detail/8929.jpg
static/img/detail/8930.jpg
static/img/detail/8931.jpg
static/img/detail/8932.jpg
static/img/detail/8933.jpg
static/img/detail/8934.jpg
static/img/detail/8940.jpg
static/img/detail/8941.jpg
static/img/detail/8942.jpg
static/img/detail/8943.jpg
static/img/detail/8944.jpg
static/img/detail/8945.jpg
static/img/detail/9500.jpg
static/img/detail/9501.jpg
static/img/detail/9502.jpg
static/img/detail/9503.jpg
static/img/detail/9504.jpg
static/img/detail/9505.jpg
static/img/detail/9511.jpg
static/img/detail/9512.jpg
static/img/detail/9513.jpg
static/img/detail/9514.jpg
static/img/detail/9515.jpg
static/img/detail/9516.jpg
static/img/detail/9522.jpg
static/img/detail/9523.jpg
static/img/detail/9524.jpg
static/img/detail/9525.jpg
static/img/detail/9526.jpg
static/img/detail/9527.jpg
static/img/detail/9533.jpg
static/img/detail/9534.jpg
static/img/detail/9535.jpg
static/img/detail/9536.jpg
static/img/detail/9537.jpg
static/img/detail/9538.jpg
static/img/detail/9544.jpg
static/img/detail/9545.jpg
static/img/detail/9546.jpg
static/img/detail/9547.jpg
static/img/detail/9548.jpg
static/img/detail/9549.jpg
static/img/logo.gif
static/img/mark.png
static/img/mark1.png
static/img/middle/
static/img/single/
