<div class="content">
    {% for cate in cate_list %}
        <p class="sort_name">{{ cate.name }}</p>
        <ul class="shop clear">
            {% for shop in cate.shops %}
                <li class="shop_info">
                    <a href="{% url 'detail' %}?sid={{ shop.shop_id }}">
                        <img src="/static/img/middle/{{ shop.img }}.jpg" alt="">
                        <p>{{ shop.name }}</p>
                        <p>{{ shop.promote_price }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>