{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock %}

{% block page_jq %}
    <script type="text/javascript" src="{% static 'js/jquery3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/banner.js' %}"></script>
{% endblock %}

{% block page_head %}
    {#    顶部栏#}
    {% include 'include/common/top.html' %}
    {#    logo图标#}
    {% include 'include/logo.html' %}
    {#    导航栏#}
    {% include 'include/navigation.html' %}
    {#    分类,轮播图#}
    <div id="cate_banner">
         分类
        {% include 'include/cate.html' %}
         轮播图
        {% include 'include/banner.html' %}
    </div>
{% endblock %}